@charset "UTF-8";

@import
	url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css)
	;

:root {
	/** color **/ -
	-baseColor: #333; -
	-blueColor: #22aee5;
	/** size **/ -
	-baseContainer: 79.375rem; /*1270px*/
	/** padding **/
}

html {
	font-size: 16px;
	margin : 0px;
	padding : 0px;
}

body {
	font-size: 1rem;
	font-family: 'NanumSquare', sans-serif;
	color: var(- -baseColor);
	width : 600px;
}

a:link, a:visited, a:hover, a:active {
	color: var(- -baseColor);
}

.topBar {
	width : 900px;
	height : 30px;
	background-color: #fff;
	display : flex;
	justify-content: flex-end;
	margin : 0 auto;
}


.container {
	width: var(- -baseContainer);
	margin: 0 auto;
}

header {
	position: fixed;
	width: 63%;
	top: 0;
	left: 0;
	background: rgb(255 255 255/ 86%);
}

header img {
	width: 11.875rem;
	padding: 0.75rem 0;
}

header>div {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

header h1 {
	position: absolute;
	left: -2000px;
}

header nav ul {
	display: flex;
	text-align: center;
}

header nav ul li {
	padding: 0 10px;
	width: 100px;
}

header nav ul li a {
	position: relative;
	display: inline-block;
	line-height: 5rem;
	font-weight: bold;
	font-size: 1.0625rem;
}

header nav ul li.active a, header nav ul li:hover a {
	color: var(- -blueColor);
}

header nav ul li a:after {
	opacity: 0;
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: var(- -blueColor);
	left: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}

header nav ul li.active a:after, header nav ul li:hover a:after {
	opacity: 1;
}

.no_dot {
	list-style-type: none;
}

.cursor-pointer {
	cursor: pointer;
}

.li-drop {
	color: #666666;
	justify-content: flex-start !important;
	gap: 10px;
}

.ul-main {
	height: 50px;
	align-items: center;
}

.ul-drop-main {
	align-items: flex-start;
}

#login {
	cursor : pointer;
	z-index: 2;
}

#login:hover {
	background-color: #ffffff;
	color: #0080ff;
}

#maincontainer	{
	width:1300px;
	
}

#sidebar {
	
}