@charset "UTF-8";

body {
/* 	padding: 1.5em; */
	/* 	background: #f5f5f5 */
}

table {
	border: 1px #9aa3af solid;
	font-size: .9em;
	box-shadow: 0px 1px 1px rgb(248 255 255 / 6%);
	width: 100%;
	border-collapse: collapse;
	/* border-radius: 5px; */
	/* overflow: hidden; */
}

th {
	border-bottom: 1px solid rgb(255 255 255 / 59%);
	text-align: center;
	background: #b9b9b9;
	font-weight: 700;
}

td, th {
	padding: 1em .5em;
	vertical-align: middle;
}

.view_table td, th {
	padding: 20px;
	vertical-align: middle;
}

td {
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	background: #fff;
	text-align: left;
	padding-left: 30px;
}

a {
	color: #73685d;
}


input, select {
  	padding: 8px;
  	border: 1px solid #ccc;
  	border-radius: 4px;
  	box-sizing: border-box;
  	resize: vertical;
}

/* 반응형 width가 768px 일때 css */
@media all and (max-width: 768px) { 
	/* table, thead, tbody, th, td, tr {
		display: block;
	}
	th {
		text-align: right;
	}
	table {
		position: relative;
		padding-bottom: 0;
		border: none;
		box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	}
	thead {
		float: left;
		white-space: nowrap;
	}
	tbody {
		overflow-x: auto;
		overflow-y: hidden;
		position: relative;
		white-space: nowrap;
	}
	tr {
		display: inline-block;
		vertical-align: top;
	}
	th {
		border-bottom: 1px solid #a39485;
	}
	td {
		border-bottom: 1px solid #e5e5e5;
	} */
}