@charset "UTF-8";

 table {
    width: 400px;
    border: 1px solid #b9b9b9;
    border-collapse: collapse; 
	line-height :1px;
  }
  th, td {
    border: 1px solid #b9b9b9;
    padding: 15px;
  }
  h1{
  	font-size: 20px;
  	font-weight: bolder;
  }