@charset "UTF-8";



.content_body .selectButtons, .listButtons {
	text-align: right;
}

.content_body button {
	display: inline-block;
	width: 70px;
	height: 28px;
	font-size: 15px;
}

.content_body .searchBox {
	width: 100%;
	height: 20px;
	border: 1px solid black;
	margin: 10px 0px 40px 0px;
}

.searchBox td {
	padding: 10px;
}

.content_body .instrList {
	width: 100%;
	margin: 10px 0px 40px 0px;
	border-collapse: collapse;
}

.content_body .instrList th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	vertical-align: middle;
}

.content_body .instrList td {
	padding: 10px;
	text-align: center;
}