@charset "UTF-8";


.content_body .selectButtons, .listButtons {
	text-align: right;
}

.content_body button {
	display: inline-block;
	width: 70px;
	height: 28px;
	font-size: 15px;
}

.content_body .searchBox {
	width: 100%;
	height: 20px;
	border: 1px solid black;
	margin: 10px 0px 40px 0px;
	align: "left";
}

.searchBox td {
	padding: 10px;
}

.content_body .shipList {
	width: 100%;
	margin: 10px 0px 40px 0px;
	border-collapse: collapse;
}

.content_body .shipList th {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	padding: 5px;
	margin-bottom: 10px;
	font-weight: bold;
	vertical-align: middle;
}

.content_body .shipList td {
	padding: 10px;
	text-align: center;
}

h2 {
  text-align: left;
  margin-bottom: 30px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


