<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.equipMapper">
	

    <resultMap type="map" id="EquipMap">
    <result column="equp_id" property="equpId"/>
    <result column="equp_cd" property="equpCode"/>
    <result column="equp_nm" property="equpName"/>
    <result column="equp_type" property="equpType"/>
    <result column="po_nm" property="poNum"/>
    <result column="po_dt" property="poDate"/>
    <result column="po_amount" property="poAmount"/>
    <result column="use_yn" property="useYn"/>
    <result column="equp_stat" property="equpStat"/>
    </resultMap>
	
	<select id="equipList" resultMap="EquipMap">
		SELECT equp_id,
			   equp_cd,
			   equp_nm,
			   equp_type,
			   po_nm,
			   po_dt,
			   po_amount,
			   use_yn,
			   equp_stat
		FROM equipment
	</select>
	 <select id="SearchEquipMap" resultMap="EquipMap">
		SELECT equp_id,
			   equp_cd,
			   equp_nm,
			   equp_type,
			   po_nm,
			   po_dt,
			   po_amount,
			   use_yn,
			   equp_stat
		FROM equipment
		WHERE equp_cd LIKE CONCAT('%', #{equpCode}, '%') 
		AND equp_nm LIKE CONCAT('%', #{equpName}, '%')
	<choose>
			<when test="equpType == '조립'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
			<when test="equpType == '멸균'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
			<when test="equpType == '포장'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
	</choose>
	<choose>
			<when test="equpStat == '가동'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
			<when test="equpStat == '대기'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
			<when test="equpStat == '고장'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
	</choose>
	<choose>
			<when test="useYn == 'Y'.toString()">
				AND use_yn LIKE CONCAT('%', #{useYn}, '%')
			</when>
			<when test="useYn == 'N'.toString()">
				AND use_yn LIKE CONCAT('%', #{useYn}, '%')
			</when>
	</choose>	
	ORDER BY equp_cd ASC
	LIMIT #{startRow}, #{pageSize}	
    </select>
	
	<select id="insertEquip">
		insert into equipment (equp_cd, equp_nm, equp_type, po_nm, po_dt, po_amount, use_yn, equp_stat)
		values (#{equpCode},#{equpName},#{equpType},#{poNum},#{poDate},#{poAmount},#{useYn},#{equpStat})
	</select>
	
	<select id="equipPage" resultMap="EquipMap">
		SELECT equp_id,
			   equp_cd,
			   equp_nm,
			   equp_type,
			   po_nm,
			   po_dt,
			   po_amount,
			   use_yn,
			   equp_stat
		FROM equipment
		ORDER BY equp_cd ASC
		LIMIT #{startRow}, #{pageSize}
	</select>
	
	<select id="equipCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM equipment
	</select>
	
	<select id="searchCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM equipment
		WHERE equp_cd LIKE CONCAT('%', #{equpCode}, '%') 
		AND equp_nm LIKE CONCAT('%', #{equpName}, '%')
	<choose>
			<when test="equpType == '조립'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
			<when test="equpType == '멸균'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
			<when test="equpType == '포장'.toString()">
				AND equp_type LIKE CONCAT('%', #{equpType}, '%')
			</when>
	</choose>
	<choose>
			<when test="equpStat == '가동'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
			<when test="equpStat == '대기'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
			<when test="equpStat == '고장'.toString()">
				AND equp_stat LIKE CONCAT('%', #{equpStat}, '%')
			</when>
	</choose>
	<choose>
			<when test="useYn == 'Y'.toString()">
				AND use_yn LIKE CONCAT('%', #{useYn}, '%')
			</when>
			<when test="useYn == 'N'.toString()">
				AND use_yn LIKE CONCAT('%', #{useYn}, '%')
			</when>
	</choose>		
	</select>
	
	<select id="getequiplist" resultMap="EquipMap">
		SELECT equp_id,
			   equp_cd,
			   equp_nm,
			   equp_type,
			   po_nm,
			   po_dt,
			   po_amount,
			   use_yn,
			   equp_stat
		FROM equipment
        WHERE equp_id = #{equpId}   	
    </select>
	
	<update id="updateEquip">
    	UPDATE equipment SET equp_cd = #{equpCode},
    					  equp_nm = #{equpName},
    					  equp_type = #{equpType},
    					  po_nm = #{poNum},
    					  po_dt = #{poDate},
    					  po_amount = #{poAmount},
    					  use_yn = #{useYn},
    					  equp_stat = #{equpStat}
    	WHERE equp_id = #{equpId}   
    </update>
    
    <delete id="deleteEquip">
    	DELETE FROM equipment
    	WHERE equp_id = #{equpId}
    </delete>
	
	<select id="equiplist" resultType="com.itwillbs.mdm.domain.EquipDTO">
			select equp_nm
			from equipment
	</select>
		
</mapper>