<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.lineMapper">
	
	<resultMap type="map" id="lineMap">
		<result property="lineCode" column="lineCode" />
		<result property="lineName" column="lineName" />
		<result property="proCode" column="proCode" />
		<result property="linePlace" column="linePlace" />
		<result property="sortOrder" column="sortOrder" />
		<result property="useChoice" column="useChoice" />
	</resultMap>
	
	<!-- line 전체 select 구문 -->
	<select id="lineList" resultMap="lineMap">
		<include refid="List" />
	</select>
	
	<!-- line 조회 select 구문 -->
	<select id="lineSearch" resultMap="lineMap">
		<include refid="List" />
		<![CDATA[
 			WHERE line_cd LIKE CONCAT('%', #{lineCode}, '%')
			AND line_nm LIKE CONCAT('%', #{lineName}, '%')
 		]]>
		<choose>
			<when test="useChoice == 'Y'.toString()">
				AND use_yn LIKE CONCAT('%', #{useChoice}, '%')
			</when>
			<when test="useChoice == 'N'.toString()">
				AND use_yn LIKE CONCAT('%', #{useChoice}, '%')
			</when>
		</choose>
	</select>
	
	<!-- line 전체 개수 -->
	<select id="lineTotalCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM line
	</select>
	
	<!-- line 조회 개수 -->
	<select id="lineSearchCount" resultType="java.lang.Integer">
		SELECT COUNT(*) FROM line
		WHERE line_cd LIKE CONCAT('%', #{lineCode}, '%')
			AND line_nm LIKE CONCAT('%', #{lineName}, '%')
			<choose>
				<when test="useChoice == 'Y'.toString()">
					AND use_yn LIKE CONCAT('%', #{useChoice}, '%')
				</when>
				<when test="useChoice == 'N'.toString()">
					AND use_yn LIKE CONCAT('%', #{useChoice}, '%')
				</when>
			</choose>
	</select>
	
	<sql id="List">
		SELECT line_cd as lineCode,
			   line_nm as lineName,
			   pro_cd as proCode,
			   place as linePlace,
			   sort_ord as sortOrder,
			   use_yn as useChoice
		FROM line
	</sql>
	
</mapper>