<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- src/main/resources 폴더 mappers 만들고 파일 memberMapper.xml 만들기 -->

<!-- 파일이름 대신에 namespace 이름을 불러서 사용 -->
<mapper namespace="com.itwillbs.mappers.memberMapper">
  
  	<!-- 사용자추가 -->
  	<insert id="insertMember">
  		insert into user 	(id,pass,name,departments,position,email,tell,phone,use_yn,insert_id,insert_dt) <!-- 디비컬럼 -->
  					values  (#{id},#{pass},#{name},#{departments},#{position},#{email},#{tell},#{phone},#{useYn},#{insertId},now()) <!-- 디티오 -->
  	</insert>
 
  	<!-- 1명사용자 조회 -->
	<select id="getMember" resultType="com.itwillbs.member.domain.MemberDTO">
		select * from user
		where id = #{id}
	</select>

	<!-- 사용자 수정 -->
	<update id="updateMember">
		update user set name = #{name} 
		where id = #{id} 
	</update>
	
	<!-- 사용자 삭제 -->
	<delete id="deleteMember">
		delete from user
		where id = #{id}
	</delete>
	
	<!-- 사용자목록 전체조회 -->
	<select id="getMemberList" resultType="com.itwillbs.member.domain.MemberDTO">
		select * from user
	</select>
   
</mapper>

<!-- src/main/resources 폴더를 만들지 않고 설정파일 만들기.  -->
<!-- mybatis-config.xml 파일 만들기 -->