<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="com.itwillbs.mappers.outmaterialMapper">


	<!-- 자재출고에 출고리스트 부분 -->
    <resultMap type="map" id="OutmaterMap">
    
	<!--     column= "디비열이름" property="멤버변수이름" -->
    <result column="out_mtrl_num" property="outmtrlNum"/>
    <result column="out_mtrl_dt" property="outmtrlDt"/>
    <result column="out_mtrl_qty" property="outmtrlQty"/>
    <result column="note" property="note"/>
    <result column="clnt_cd" property="clientCode"/>
    <result column="clnt_nm" property="clientName"/>
    <result column="cur_stock" property="stockcur"/>
    <result column="whouse" property="stockwhouse"/>
    <result column="item_num" property="itemNum"/>
    <result column="item_nm" property="itemName"/>
    <result column="invnt_unit" property="itemUnit"/>
    
    
    </resultMap>



	<select id="outmaterList" resultMap="OutmaterMap"> <!-- 처음에 조회되는 자재출고 리스트 -->
	select 
			outmater.out_mtrl_num, 
			outmater.out_mtrl_dt,  
			outmater.out_mtrl_qty,			  
			outmater.note, 
			clnt.clnt_cd,
			clnt.clnt_nm,
			stock.cur_stock,
			stock.whouse,
			item.item_num, 
	    	item.item_nm,
	    	item.invnt_unit
		from  
			out_material outmater join client clnt
			on outmater.clnt_id = clnt.clnt_id
			join item item
			on outmater.item_id = item.item_id
			join stock stock
			on item.item_id = stock.item_id	
	</select>
   
   
</mapper>