<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.shipMapper">
  
  <resultMap type="map" id="shipMap">
  		<result property="shipId" column="ship_id"/>
  		<result property="ordId" column="ord_id"/>
  		<result property="ordInfoId" column="ord_info_id"/>
  		<result property="shipQty" column="ship_qty"/>
  		<result property="shipDt" column="ship_dt"/>
  		<result property="shipNum" column="ship_num"/>
  		<result property="barcord" column="barcord"/>
  		<result property="insertId" column="insert_id"/>
  		<result property="insertDt" column="insert_dt"/>
  		<result property="updateId" column="update_id"/>
  		<result property="updateDt" column="update_dt"/>
  		
  		<result property="shipCond" column="update_dt"/>
  
  </resultMap>
  
  
  
  
    <select id="getShipMap" resultMap="shipMap">
    
    	SELECT 
			shipId
			ordId
			ordInfoId
			shipQty
			shipDt
			shipNum
			barcord
			insertId
			insertDt
			updateId
			updateDt
		FROM ship

    </select>
    
	
	
		<insert id="insertShip">
    insert into shipAdmin
    (clnt_id, order_dt,user_id,dlvry_dt,item_id,ord_qty)
	values(#{clntId},#{orderDt},#{userId},#{dlvryDt},#{itemId},#{ordQty})		
	 
    </insert>
   
</mapper>
