<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mappers.shipMapper">

  <!--   출하 요청 리스트 -->
  <resultMap type="map" id="shipADMap">
 		<result column="ord_id" property="ordId" />
  		<result column="ship_id" property="shipId" />
  		<result column="insert_id" property="insertId" />
  		<result column="insert_dt" property="insertDt" />
  		<result column="ship_num" property="shipNum" />
  		<result column="dlvry_dt" property="dlvryDt" />
  		<result column="ship_dt" property="shipDt" />
  		<result column="item_num" property="itemNum" />
  		<result column="item_nm" property="itemNm" />
  		<result column="item_id" property="itemId" />
  		<result column="barcord" property="barcord" />
  		<result column="invnt_unit" property="itemUnit"/> 
  		<result column="amount" property="amount" />
  		<result column="clnt_id" property="clntId" />
  		<result column="id" property="userNum" />
  		<result column="ship_qty" property="shipQty" />
  </resultMap>

    
<!--     출하 리스트 첫 화면 -->
    <select id="getShipAd" resultType="com.itwillbs.ship.domain.ShipDTO">
    	select
    			sh.ship_id, u.insert_id, u.insert_dt, sh.ship_num, ord.dlvrtDt, sh.ship_dt, i.item_num,
    			i.item_nm, i.item_id, sh.barcord, i.invnt_unit, sh.amount, ord.clnt_id, u.id, sh.ship_qty
    	from order_mng o join ship_mng sh
    	on sh.ord_id = o.ord_id
    	join user u
    	on sh.user_id = u.user_id
    	join item i
    	on sh.item_id = i.item_id
    	where sh.ship_id = #{shipId}
    </select>
    
    
<!--     검색 출하 리스트 search -->
    <select id="getSearchShipAdMap" resultMap="shipAdMap">
    	select
    			u.insert_id, u.insert_dt,
    			sh.ship_num, sh.ship_dt as SOdate, sh.dlvry_dt as SDdate,
    			i.item_num, i.item_nm, i.invnt_unit,
    			sh.barcord, sh.amount, sh.clnt_id
    	from ship_mng sh join order_mng o
    	on sh.ord_id = o.ord_id
    	join user u
    	on sh.user_id = u.user_id
    	where ord_id like CONCAT('%', #{ordId}, '%')
    	
    	
    	<if test="SOdate!='' and EOdate!=''">
			and
			sh.ship_dt between #{SOdate} and #{EOdate}
		</if>
		<if test="SOdate=='' and EOdate==''"></if>

		<if test="SOdate!=''">
			and
			sh.ship_dt &gt;= #{SOdate}
		</if>
		<if test="EOdate!=''">
			and
			sh.ship_dt &lt;= #{EOdate}
		</if>


		<if test="SDdate!='' and EDdate!=''">
			and
			sh.dlvry_dt between #{SDdate} and #{EDdate}
		</if>
		<if test="SDdate=='' and EDdate==''"></if>
		<if test="SDdate!=''">
			and
			sh.dlvry_dt &gt;= #{s=SDdate}
		</if>
		<if test="EDdate!=''">
			and
			sh.dlvry_dt &lt;= #{EDdate}
		</if>

		and
		name like CONCAT('%', #{userNm}, '%')


		order by SOdate desc
		limit #{startRow}, #{pageSize}
    	
     </select>
    
    
<!--     출하 리스트 count -->
    <select id="countShipAd" resultType="java.lang.Integer">
    	select
    			count(*)
    	from
    			ship_mng sh join order_mng o
    			on sh.ord_id = o.ord_id
    			join user u
    			on sh.user_id = u.user_id
    	<if
			test="ordId != null and ship_id != null and SOdate != null
		 and EOdate!= null and SDdate != null and EDdate != null and Num != null 
			and userNm != null)">
			
			where clnt_nm like CONCAT('%', #{clntNm}, '%')
			<if test="SOdate!='' and EOdate!=''">
				and
				sh.ship_dt between #{SOdate} and #{EOdate}
			</if>
			<if test="SOdate=='' and EOdate==''"></if>

			<if test="SOdate!=''">
				and
				sh.ship_dt &gt;= #{SOdate}
			</if>
			<if test="EOdate!=''">
				and
				sh.ship_dt &lt;= #{EOdate}
			</if>


			<if test="SDdate!='' and EDdate!=''">
				and
				sh.dlvry_dt between #{SDdate} and #{EDdate}
			</if>
			<if test="SDdate=='' and EDdate==''"></if>
			<if test="SDdate!=''">
				and
				sh.dlvry_dt &gt;= #{SDdate}
			</if>
			<if test="EDdate!=''">
				and
				sh.dlvry_dt &lt;= #{EDdate}
			</if>

			and
			name like CONCAT('%', #{userNm}, '%')
		</if>	
   </select>
    
    
    
<!--     출하 요청 등록, 수정, 삭제 (add, edit, delete) --> 
<!--     <select id="addeditdel" resultMap="shipADMap"> -->
    	
<!--     </select> -->
    
    
    
        <!--   출하 현황 리스트 -->
     <resultMap type="map" id="shipLIMap">
  		<result column="ship_num" property="shipNum" />
		<result column="item_nm" property="itemName" />
		<result column="amount" property="amount" />
		<result column="ship_dt" property="shipDt" />
		<result column="clnt_nm" property="clntNm" />
		<result column="track_num" property="trackNum" />
		<result column="clnt_id" property="clntId" />
		<result column="ship_cd" property="shipCond" />
 	 </resultMap>
    
    

    
<!--     출하현황 리스트 첫 화면 -->
    <select id="getShipLi" resultType="com.itwillbs.ship.domain.ShipDTO">
    	select
    			
    			
    			
    			
    			
    			
    			
    			
    	from
    	
    	
    </select>
    
    
<!--     검색 출하현황 리스트 search -->
    <select id="getSearchShipLiMap" resultMap="shipLIMap">
    	select
    			
    			
    			
    			
    			
    			
    			
    			
    	from
    	
    	
     </select>
    
    
<!--     출하현황 리스트 count -->
    <select id="countShipLi" resultType="java.lang.Integer">
    	select
    			
    			
    			
    			
    			
    			
    			
    			
    	from
    	
    	
    </select>
    
    
    
<!--     출하 현황 수정, 삭제 (edit, delete) -->
<!--     <select id="addeditdel" resultMap="shipLIMap"> -->
    	
<!--     </select> -->
    
    
    
    
    
<!--     item list -->
<!--     <select id="ItemList" resultMap="com.itwillbs.ship.domain.ItemDTO"> -->
<!--     	select -->
<!-- 		item_num as itemNum, -->
<!-- 		item_nm as itemNm -->
<!-- 		from item -->
<!-- 		<if test="itemNum!=null and itemNm!=null"> -->
<!-- 			where -->
<!-- 			item_num like CONCAT('%', #{itemNum}, '%') and -->
<!-- 			item_nm like CONCAT('%', #{itemNm}, '%') -->
<!-- 		</if> -->
<!-- 		order by itemNum desc -->
<!-- 		limit #{startRow}, #{pageSize} -->
<!--     </select> -->
    
    
<!--     item count -->
<!--     <select id="countItemList" resultMap="java.lang.Integer"> -->
<!--     	select -->
<!-- 		count(*) -->
<!-- 		from item -->
<!-- 		<if test="itemNum!=null and itemNm!=null"> -->
<!-- 			where -->
<!-- 			item_num like CONCAT('%', #{itemNum}, '%') and -->
<!-- 			item_nm like CONCAT('%', #{itemNm}, '%') -->
<!-- 		</if> -->
<!--     </select> -->
    
<!--     client list -->
<!--     <select id="ClientList" resultMap="com.itwillbs.ship.domain.ClntDTO"> -->
<!--     	select -->
<!-- 		clnt_cd as clntCd, -->
<!-- 		clnt_nm as clntNm, -->
<!-- 		clnt_id as clntId -->
<!-- 		from client -->
<!-- 		<if test="clntCd!=null and clntNm!=null"> -->
<!-- 			where -->
<!-- 			clnt_cd like CONCAT('%', #{clntCd}, '%') and -->
<!-- 			clnt_nm	like CONCAT('%', #{clntNm}, '%') -->
<!-- 		</if> -->
<!-- 		order by clnt_cd desc -->
<!-- 		limit #{startRow}, #{pageSize} -->
<!--     </select> -->
    
<!--     client count -->
<!--     <select id="countClientList" resultMap="java.lang.Integer"> -->
<!--     	select -->
<!-- 		count(*) -->
<!-- 		from client -->
<!-- 		<if test="clntCd!=null and clntNm!=null"> -->
<!-- 			where -->
<!-- 			clnt_cd like CONCAT('%', #{clntCd}, '%') and -->
<!-- 			clnt_nm	like CONCAT('%', #{clntNm}, '%') -->
<!-- 		</if> -->
<!--     </select> -->
    
    
<!--      material list --> 
<!--     <select id="MaterialList" resultMap="com.itwillbs.ship.domain.MaterialDTO"> -->
<!--     	select -->
<!-- 		in_mtrl_qty as inmtrlQty, -->
<!-- 		out_mtrl_qty as outmtrlQty, -->
<!-- 		cur_stock as curStrock -->
<!-- 		from client -->
<!-- 		<if test="inmtrlQty!=null and outmtrlQty!=null"> -->
<!-- 			where -->
<!-- 			in_mtrl_qty like CONCAT('%', #{inmtrlQty}, '%') and -->
<!-- 			out_mtrl_qty	like CONCAT('%', #{outmtrlQty}, '%') -->
<!-- 		</if> -->
<!-- 		order by cur_stock desc -->
<!-- 		limit #{startRow}, #{pageSize} -->
<!--     </select> -->
    
<!--      material count -->
<!--     <select id="countMaterialList" resultMap="java.lang.Integer"> -->
<!--     	select -->
<!-- 		count(*) -->
<!-- 		from client -->
<!-- 		<if test="clntCd!=null and clntNm!=null"> -->
<!-- 			where -->
<!-- 			clnt_cd like CONCAT('%', #{clntCd}, '%') and -->
<!-- 			clnt_nm	like CONCAT('%', #{clntNm}, '%') -->
<!-- 		</if> -->
<!--     </select>     -->
    

   
</mapper>
